.venv
recordings
pocketsphinx
.idea
.env
Allosaurus_research.pdf
cleaned_recordings
__pycache__
test_recordings
fine_tune_gop.jsonl
fine_tune_val_gop.jsonl
fine_tune.ipynb
fine_tune_GOP.xlsx
algo_pg.ipynb
whisper_pg.ipynb
